.navbar-brand.abs
    {
        width: 100%;
        text-align: center;
        font-weight: bold;
    }


/* Styling for sidebar div */
#sidebar {
    margin-top: 30px;
}

#weather-info-display {
    margin-top: 15px;
    padding-top: 15px;
    border: thin solid rgb(215, 215, 215);
    border-radius: 5px;
}

.hide {
    display: none;
}

